<a-scene #scene background="color: #212" raycaster="objects: .raycastable">

  <!--  preload scene assets-->
  <a-assets>
     
    <img id="fireAnimation" src="../../assets/prettydisturbed/Burn_animation.gif" crossorigin="anonymous" /> 

    <a-mixin id="frame" geometry="primitive: plane; width: 0.5783552; height: 0.8192"
      material="color: white; shader: flat"
      animation__scale="property: scale; to: 1.2 1.2 1.2; dur: 200; startEvents: mouseenter"
      animation__scale_reverse="property: scale; to: 1 1 1; dur: 200; startEvents: mouseleave"></a-mixin>
    <a-mixin id="poster" geometry="primitive: plane; width: 0.544768; height: 0.786432"
      material="color: white; shader: flat" material="shader: flat" position="0 0 0.005"></a-mixin> 
  </a-assets>


  <!-- render stream controller -->
  <a-box id="leave-btn" (click)="leaveVoice()" position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>  <!--   leave channel   -->
  <a-sphere id="join-btn" (click)="joinVoice()" position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>  <!--  join channel   -->
  <a-cylinder id="mic-btn" (click)="muteInput()" position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>  <!--   mute mic   -->

  <!--  render sky and floor -->
  <a-sky color="#110346"></a-sky>
  <a-plane position="0 0 -4" rotation="-90 0 0" width="499" height="499" color="#7BC8A4"></a-plane>

  <a-camera #camera>
    <!--  camera rig   -->
    <a-entity cursor="fuse: true; fuseTimeout: 5000" position="0 0 -0.5"
      geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat"
      animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 5000; from: 1 1 1; to: 0.1 0.1 0.1">
    </a-entity>
  </a-camera>

  <!--  Render players  -->
  <a-entity geometry="primitive: box" id="{{user.id}}" *ngFor="let user of users" #player></a-entity>

  <!--  Render ui  -->
  <!-- <a-entity id="ui" position="-1.5 1.6 -2.5" rotation="0 50 0"> -->
  <a-entity id="ui" position="0 1 0" rotation="0 0s 0">
      <a-entity id="fireModel" position="0.8 0 0" class="raycastable menu-button">
        <a-entity material="src: #fireAnimation" mixin="poster"></a-entity>
      </a-entity>
  </a-entity>

</a-scene>