/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

.logo {
    background-image: url('../src/assets/prettydisturbed/Bonfirewebsite_logo.png');
    background-repeat: no-repeat;
    height: 248px;
    width: 899px;
    margin: auto;
    margin-top: 50px;
}

.bg {
    background-image: url('../src/assets/prettydisturbed/Bonfirewebsite_big_bg1.jpg');
    background-size: cover;
    /* background-size: 100% 100vh; */
    background-repeat: no-repeat;
}

.main-btn {
    background-image: url('../src/assets/prettydisturbed/burn_it_button.png');
    background-repeat: no-repeat;
    width: 729px;
    height: 132px;
    margin: auto;
    margin-top: 700px;
}

.main-btn:hover {
    background-image: url('../src/assets/prettydisturbed/burn_it_button_hover.png');
}

.main-btn:active {
    background-image: url('../src/assets/prettydisturbed/burn_it_button_press.png');
}

/* The actual popup (appears on top) */
.popup {
    visibility: hidden;
    background-color: white;
    margin: auto;
    width: 640px;
    height: 740px;
    border-radius: 12px;
    margin: auto;
    margin-top: 150px;
}

.vr-btn {
    background-image: url('../src/assets/prettydisturbed/VR_btn.png');
    background-repeat: no-repeat;
    width: 441px;
    height: 98px;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 25px;
}

.vr-btn:hover {
    background-image: url('../src/assets/prettydisturbed/VR_btn_hover.png');
}

.vr-btn:active {
    background-image: url('../src/assets/prettydisturbed/VR_btn_press.png');
}



.fire {
    visibility: hidden;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#nft-view-container {
    /* background-image: url('../src/assets/prettydisturbed/Burn_animation.gif'); */
    height: 540px;
    width: 640px;
    padding-top: 50px;
}

.nft-thumbnail {
    position: absolute;
    height: 540px;
    width: 540px;
    padding-left: 50px;
}

.burn-ui-animation {
    position: absolute;
    width: 540px;
    height: 540px;
    padding-left: 50px;
}


.burn-ui-buttons-container {
    width: 540px;
    margin: auto;
    margin-top: 2px;
}

.burn-btn {
    background-image: url('../src/assets/prettydisturbed/burn_btn.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    float: left;

}

.burn-btn:hover {
    background-image: url('../src/assets/prettydisturbed/burn_btn_hover.png');
}

.mercy-btn {
    background-image: url('../src/assets/prettydisturbed/mercy_btn.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 100px;
    float: right;
}

.mercy-btn:hover {
    background-image: url('../src/assets/prettydisturbed/mercy_btn_hover.png');
}

.blur {

    -webkit-filter: blur(10px);
    filter: blur(10px);

}

#info1 {
    background-color: #341a95;
}

#info2 {
    background-color: #832ab5;
}

@font-face {

    font-family: 'Open Sans';
    font-style: normal;
    src: url(../src/assets/prettydisturbed/Marvin-Regular.ttf);
    font-weight: 500;
}
 